*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --grid-rows: 6;
    --grid-cols: 4;
    --grid-gaps: 0;
    --row-size: 50px;
    --col-size: 58px;
    --operators-bg: #FF9F0A;
    --results-bg: #564E56;
    --extras-bg: #655F65;
    --numbers-bg: #7E7980;
    --border-calc: 1px solid #564E56;
}

html {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    background-color: thistle;
}

body, #container, .number, .extra, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--border-calc);
}

#container {
    background-color: transparent;
    border: none;
}


/*
░█▀▀█ ░█▀▀█ ▀█▀ ░█▀▀▄ 
░█─▄▄ ░█▄▄▀ ░█─ ░█─░█ 
░█▄▄█ ░█─░█ ▄█▄ ░█▄▄▀ 
*/

#calculator {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), var(--col-size));
    grid-template-rows: repeat(var(--grid-rows), var(--row-size));
    grid-gap: var(--grid-gaps);
    background-color: white;
    grid-template-areas:
    "r r r r"
    "r r r r"
    "e e e o"
    "n n n o"
    "n n n o"
    "n n n o"
    "n n n o";
    border: var(--border-calc);
    border-radius: 10px;
    overflow: hidden;
}

#numbers, #extras, #operators, #zeros {
    display: grid;
    grid-gap: var(--grid-gaps);
}

#results {
    grid-area: r;
    background-color: var(--results-bg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    flex-direction: column;
    padding: 10px;
}

.operation {
    font-size: large;
    height: 30%;
    display: flex;
    align-items: center;
    color: lightgray;
}

.result {
    height: 70%;
    display: flex;
    align-items: center;
}

#extras {
    grid-area: e;
    background-color: var(--extras-bg);
    grid-template-columns: repeat(3, var(--col-size));
}

#numbers {
    grid-area: n;
    grid-template-columns: repeat(3, var(--col-size));
    background-color: var(--numbers-bg);
    grid-template-rows: repeat(4, var(--row-size));
    grid-template-areas:
    "h i j"
    "e f g"
    "b c d"
    "a a z";
}

.number:nth-last-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
}

#operators {
    grid-area: o;
    background-color: var(--operators-bg);
}
[data-value]:hover {
    cursor: pointer;
}